
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Joan&family=Nunito+Sans:wght@300&family=Poppins:wght@400;900&family=Play&family=Quicksand:wght@500&display=swap');
:root{
  --main-col:#ff003d;
  --main-col1:rgba(255, 0, 60, 0.5);
  --main-colo:#f8567c;
  --main-colo-red:#f8567ce9;
  --title-colo:#f8bf56;
  --title-col-yellow:#f8f356;
  --bl:rgb(27, 27, 27);
  --colour-blue:#001AFF;
  --col-blue:#4200FF;
  --primary:#2196f3;
  --poppins:'Poppins', sans-serif;
  --quicksand:'Quicksand', sans-serif;
  --nunito:'Nunito Sans', sans-serif;
  --play:'Play', sans-serif;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


